head
    title My Site - #{name}
    meta(name='description', content='#{name}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type="text/css" href='/bower_components/bulma/css/bulma.min.css')
