head
    title #{name}
    meta(name='description', content='#{name}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type="text/css" href='/bower_components/bulma/css/bulma.min.css')
    link(href='/node_modules/bulma-carousel/dist/css/bulma-carousel.min.css' rel='stylesheet')
    script(src='/node_modules/bulma-carousel/dist/js/bulma-carousel.min.js')