doctype html
html
    include head
    body
        nav.navbar
            .navbar-brand
                a.navbar-item(href='/') #{name}
            .navbar-menu
                .navbar-end
                    .navbar-item
                        .buttons
                            a.button.is-primary(href='') Menu
                            a.button.is-primary(href='') Orari
                            a.button.is-primary(href='') Dove siamo
        .columns
            .column.is-2
            .column.is-4
                p.title.is-1 Ordina online
                p.subtitle.is-3 #{description}               
            .column.is-4
                img.image(src='#{image}')
            .column.is-2


        block content